.Menu {
  background-color: #c21117;
}

.FormControl {
  margin: 0 10px;
  background-color: #dd282e;

  outline: none;
  border: none;
  border-radius: 10px;
}
.SearchBtn {
  background-color: #000000;
  border: none;
  color: white;

  &:hover {
    background-color: #9e0409;
  }
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.Cart {
  margin-right: 5px;
}
.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(209, 209, 209);
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(209, 209, 209);
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(209, 209, 209);
}
