.Menu {
  background-color: #db1d24;
}

.FormControl {
  margin: 0 10px;
  background-color: #fa434a;
  outline: none;
  border: none;
  border-radius: 10px;
}
.SearchBtn {
  background-color: #000000;
  border: none;
  color: white;

  &:hover {
    background-color: #9e0409;
  }
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
